<div class="jumbotron" style="margin-bottom:0">
  <div class="row">
    <div class="col-sm-4">
      <br />
      <p>
        <i>
          This website was written in Angular and hosted on Github Pages by
          Christian Timothy Jensen aka Zubat Horde. It was last updated on
          11/01/2019.</i
        >
      </p>
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-2">
      <h6>Want to Connect?</h6>
      <a href="https://www.linkedin.com/in/christian-jensen-b0b4a7126/">
        <img src="./assets/imgs/linkedin.png" />
      </a>
      &nbsp;
      <a href="https://www.facebook.com/christian.t.jensen.14">
        <img src="./assets/imgs/fb.png" />
      </a>
      &nbsp;
      <a href="mailto:devjensen91@gmail.com">
        <img src="./assets/imgs/gmail.png" />
      </a>
    </div>
  </div>
</div>
