<div class="jumbotron" style="margin-bottom:0">
  <div class="row">
    <div class="col-sm-4">
      <br />
      <p>
        <i>
          This website was written in Angular and hosted on Github Pages by
          Christian Timothy Jensen. It was last updated on
          11/06/2019.</i
        >
      </p>
    </div>
    <div style="text-align: center;" class="col-sm-4">
      <br/>
        <h5>Coder • Leader • Mentor • Ally • Friend</h5>
    </div>
    <div style="text-align: center;" class="col-sm-4">
      <h6>Want to Connect?</h6>
      <a href="https://www.linkedin.com/in/christian-jensen-b0b4a7126/">
        <img src="./assets/imgs/linkedin.png" />
      </a>
      &nbsp;
      <a href="https://www.facebook.com/christian.t.jensen.14">
        <img src="./assets/imgs/fb.png" />
      </a>
      &nbsp;
      <a href="mailto:devjensen91@gmail.com">
        <img src="./assets/imgs/gmail.png" />
      </a>
    </div>
  </div>
</div>
