<body>
  <div class="container" style="text-align: center;">
    <h1>Christian Timothy Jensen</h1>
    <hr />

    <br />

    <h2>OBJECTIVE</h2>
    <h5 style="text-align: left;">
      Professional software developer with a passion for learning new
      technologies. Adept at both front and back end development with the desire
      to grow and learn in both aspects. Team player and self-motivated with a
      positive and forward-thinking attitude. Looking to join the right team
      that shares a similar passion that will allow me to continue to grow my
      ever-increasing skill set.
    </h5>

    <br />
    <h2 style="text-align: left;">PROFESSIONAL EXPERIENCE</h2>
    <hr />
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          &nbsp;&nbsp;&nbsp;
          <img src="./assets/imgs/zerodaylogo.jpg" style="height: 60px;" />
          &nbsp;
          <p style="font-size: 20px; text-align: left;">
            <b>Mid-Level Developer</b> <br />
            Zero-Day, St. Louis, MO
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <p style="font-size: 20px; text-align: right;">
          July 2019 - Present
        </p>
      </div>
    </div>
    <div class="col-sm-12" style="text-align: left;">
      <ul>
        <li>
          Part of a new 3-person software development team that is starting from
          scratch. Being allowed to define new processes and pick technologies.
          Currently developing in Angular, .Net Core with Dapper, SQL Server,
          and Salesforce. Utilizing all of Azure’s services for hosting,
          database management, source control, and Kanban boards. Following
          Agile principals with daily standups and biweekly sprints.
        </li>
        <li>
          Currently developing a web app, utilizing redux, that acts as a
          landing page for Corporate to better manage their processes.
        </li>
        <li>
          Contributed to the rewrite of a broken legacy app. Fixing bugs,
          creating maintainable code, and using new technology. App took a 2 day
          process and cut the time down to 1-2 minutes.
        </li>
        <li>
          Developed a custom app inside of Salesforce using Lightning Web
          Components (LWC) that allows users to track meetings with their
          clients.
        </li>
      </ul>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          &nbsp;&nbsp;&nbsp;
          <img src="./assets/imgs/umsl-logo.png" style="height: 60px;" />
          &nbsp;
          <p style="font-size: 20px; text-align: left;">
            <b>Programming Tutor</b> <br />
            UMSL, St. Louis, MO
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <p style="font-size: 20px; text-align: right;">
          May 2019 - Present
        </p>
      </div>
    </div>
    <div class="col-sm-12" style="text-align: left;">
      <ul>
        <li>
          Tutors college students in Java, C#, and other various frameworks as
          needed.
        </li>
        <li>
          Mentors first time programmers and helps them learn how to code and
          best practices.
        </li>
        <li>
          Encourages students to pursue new technology and points them in the
          right direction for self-learning.
        </li>
      </ul>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          &nbsp;&nbsp;&nbsp;
          <img src="./assets/imgs/opti-port.jpg" style="height: 60px;" />
          &nbsp;
          <p style="font-size: 20px; text-align: left;">
            <b>CLX Developer Level 1</b> <br />
            Opti-Port, St. Louis, MO
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <p style="font-size: 20px; text-align: right;">
          August 2018 - July 2019
        </p>
      </div>
    </div>
    <div class="col-sm-12" style="text-align: left;">
      <ul>
        <li>
          Was part of a 7-person .Net development team that used Mercurial
          Source Control, developed in ASP.Net Webforms, Entity Framework, & SQL
          Server, and implemented Agile focused, bi-weekly sprints using Jira.
        </li>
        <li>
          Worked with third-party practice management systems to maintain and
          develop integrations for soft contact lens ordering.
        </li>
        <li>
          Contracted by parent company Essilor to code their “Free Suns”
          project. A subscription service with automated email/text
          communications that was developed using ASP.Net Webforms, Entity
          Framework, and SQL Server.
        </li>
      </ul>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          &nbsp;&nbsp;&nbsp;
          <img src="./assets/imgs/opti-port.jpg" style="height: 60px;" />
          <p style="font-size: 20px; text-align: left;">
            <b>CLX Jr. Developer</b> <br />
            Opti-Port, St. Louis, MO
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <p style="font-size: 20px; text-align: right;">
          October 2017 - August 2018
        </p>
      </div>
    </div>
    <div class="col-sm-12" style="text-align: left;">
      <ul>
        <li>
          Coded a project inside our main product called “CLX Integration Lite”.
          This project opened the door to hundreds of new clients that were
          previously unreachable empowering the sales team to generate more
          revenue.
        </li>
        <li>
          Led the migration plan to move all users to the newest version of CLX.
          Wrote a complex script within Microsoft SQL Server that gathered all
          of the Client’s information and moved them from version 2.0 to 3.0 of
          CLX.
        </li>
        <li>
          Headed the conversion from Jira’s HipChat to Slack. Transferred all
          the data from HipChat into Slack and personally trained the company on
          how to utilize Slack efficiently.
        </li>
        <li>
          Collaborated with the Customer Support team and maintained a Jira
          ticket system for them
        </li>
      </ul>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          &nbsp;&nbsp;&nbsp;
          <img src="./assets/imgs/opti-port.jpg" style="height: 60px;" />
          <p style="font-size: 20px; text-align: left;">
            <b>CLX Onboarding Specialist & Customer Support</b> <br />
            Opti-Port, St. Louis, MO
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <p style="font-size: 20px; text-align: right;">
          December 2016 - August 2018
        </p>
      </div>
    </div>
    <div class="col-sm-12" style="text-align: left;">
      <ul>
        <li>
          Coordinated system integration with the client IT teams to ensure
          projects are assigned, documented, and completed.
        </li>
        <li>
          Supported both prospects and customers, responding to questions from
          incoming calls, emails, and web-based communications.
        </li>
        <li>
          Worked closely with the IT, Sales, and Marketing teams to relay
          valuable information about client interactions and feedback to improve
          messaging and product functionality.
        </li>
        <li>
          Documented all client and prospect interaction in the CRM platform
          with relevant, detailed information for accurate, usable record
          keeping.
        </li>
      </ul>
    </div>
  </div>
</body>
