<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/brother.jpg" class="responsive" />
      <p>
        Ended the year with my brother visiting me from Florida
        12/2018
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/utahtrip.jpg" class="responsive" />
      <p>
        Met up with my friend from League of Legends in Utah for a LAN party
        09/2018
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/firsttattoo.jpg" class="responsive" />
      <p>
        First Tattoo! The Teddy Bear is my childhood Teddy Bear "Kyle". The Sword is from a game called
        Tibia.
        The Monster is "Dead Hands" from Legend of Zelda. And the child is me back in the day.
        08/2018
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/birthdaydinner.jpg" class="responsive" />
      <p>
        Birthday dinner with my family
        07/2018
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/nightoutwcousins.jpg" class="responsive" />
      <p>
        Summer night with cousins
        06/2018
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/fathersonlunch.jpg" class="responsive" />
      <p>
        Father & Son Lunch with my dad and brother
        04/2018
      </p>
    </div>
  </div>
</div>
