<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/womenhack.jpg" class="responsive" />
      <p>
        Proud of the team I helped mentor for the women's hackathon
        #supportWomenInIT 11/2019
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/halloween.jpg" class="responsive" />
      <p>Our pumpkins for Halloween this year 10/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/havard.jpg" class="responsive" />
      <p>Visting Harvard with my family 10/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/wifey.jpg" class="responsive" />
      <p>My wife and I enjoying Niagara Falls Together 10/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/sisters.jpg" class="responsive" />
      <p>
        Sharing a laugh with my sisters before the start of the new
        school year 8/2019
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/festivalofnations.jpg" class="responsive" />
      <p>Festival of Nations with my wife and cousins 8/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/zeroday.jpg" class="responsive" />
      <p>
        First day on the job at Zero Day Technology Solutions 7/2019
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/4years.jpg" class="responsive" />
      <p>My wife and I on our 4 year aniversary 7/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/mallofamerica.jpg" class="responsive" />
      <p>My wife and I road tripping to Mall of America 6/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/grad.jpg" class="responsive" />
      <p>Extremely Proud Moment - My College Graduation 5/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/wifegrad.jpg" class="responsive" />
      <p>My Awesome Wife Graduating College 5/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/nadiawedding.jpg" class="responsive" />
      <p>At my sister's wedding 4/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/fatherson.jpg" class="responsive" />
      <p>Father/Son Pickup Basketball Game 3/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/crew.png" class="responsive" />
      <p>UMSL|Hack Crew aka the best Crew 2/2019</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/winternight.jpg" class="responsive" />
      <p>
        My wife, brother-in-law and I having a drink on a cold winter
        night in Albania 1/2019
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/newyear.jpg" class="responsive" />
      <p>
        Starting the New Year with my In-Laws in Albania 1/2019
      </p>
    </div>
  </div>
</div>
