<div class="container">
<div class="row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="box">
        <img src="./assets/imgs/supportWomenInIT.jpg" class="responsive"/>
        <p style="text-align: center;">Close the gender gap in IT! #sitwithme #supportWomenInIT</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
    <br />
    <div style="text-align: center;" class="col-sm-12">
      <h1>ABOUT ME</h1>
      <hr />
      <h5>
        Hello, my name is Christian Jensen and I am a software developer! When I
        am not at work coding, I am either at school tutoring or going to class,
        spending time with my wife, or playing video games by myself or with
        friends. I also try to fit a few personal projects in there as well. My
        main goal is to learn as much as I can in this field and help other
        people feel passionate about this life-changing career. I am proud to be
        where I am at today and I hope to guide as many others down this path as
        well.
      </h5>
    </div>
    <br />
</div>
