<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-8">
      <h1>WELCOME TO MY WEBSITE!</h1>
      <h5>What I am currently developing in for work:</h5>
      <ul style="list-style-type:disc;">
        <li>Angular</li>
        <li>.NET Core</li>
        <li>Dapper</li>
        <li>SQL Server</li>
        <li>Microsoft Azure</li>
        <li>Salesforce</li>
      </ul>
      <br />
      <h4>LIFE THIS PAST YEAR:</h4>
      <div class="row">
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/womenhack.jpg" class="responsive" />
            <p>
              Proud of the team I helped mentor for the women's hackathon
              #supportWomenInIT 11/2019
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/halloween.jpg" class="responsive" />
            <p>Our pumpkins for Halloween this year 10/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/havard.jpg" class="responsive" />
            <p>Visting Harvard with my family 10/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/wifey.jpg" class="responsive" />
            <p>My wife and I enjoying Niagara Falls Together 10/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/sisters.jpg" class="responsive" />
            <p>
              Sharing a laugh with my sisters before the start of the new school
              year 8/2019
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/festivalofnations.jpg" class="responsive" />
            <p>Festival of Nations with my wife and cousins 8/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/zeroday.jpg" class="responsive" />
            <p>First day on the job at Zero Day Technology Solutions 7/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/4years.jpg" class="responsive" />
            <p>My wife and I on our 4 year aniversary 7/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/mallofamerica.jpg" class="responsive" />
            <p>My wife and I road tripping to Mall of America 6/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/grad.jpg" class="responsive" />
            <p>Extremely Proud Moment - My College Graduation 5/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/wifegrad.jpg" class="responsive" />
            <p>My Awesome Wife Graduating College 5/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/nadiawedding.jpg" class="responsive" />
            <p>At my sister's wedding 4/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/fatherson.jpg" class="responsive" />
            <p>Father/Son Pickup Basketball Game 3/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/crew.png" class="responsive" />
            <p>UMSL|Hack Crew aka the best Crew 2/2019</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/winternight.jpg" class="responsive" />
            <p>
              My wife, brother-in-law and I having a drink on a cold winter
              night in Albania 1/2019
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/newyear.jpg" class="responsive" />
            <p>
              Starting the New Year with my In-Laws in Albania 1/2019
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <img src="./assets/imgs/brother.jpg" class="responsive" />
            <p>
              Ended the year with my brother visiting me from Florida 12/2018
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="box">
        <img src="./assets/imgs/welcome.jpg" class="responsive" />
      </div>

      <br />
      <h5>My Github Accounts:</h5>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Zubat-Horde"
            >Personal - Zubat-Horde</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ctj535"
            >School - CTJ535</a
          >
        </li>
      </ul>
      <h5>My Learning Sites:</h5>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.udemy.com/user/26a9c350-8095-4356-8318-c4855ac2d2e3/"
            >Udemy</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://trailblazer.me/id?lang=en_US&_ga=2.229350108.1113205451.1572399339-953789354.1566138575"
            >Salesforce Trialblazer</a
          >
        </li>
      </ul>
      <h5>Community Links:</h5>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="https://umslhack.io/"
            >UMSL|Hack</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/umslwomenhack/"
            >Women's Hackathon</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.meetup.com/codetilldawn/"
            >Code Till Dawn</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.devupconf.org/">Dev Up</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.meetup.com/St-Louis-NET-User-Group/"
            >St. Louis .NET User Group</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
