<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/familypicnic.jpg" class="responsive" />
      <p>
        Family picnic for my wife's b day 09/2017
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/aniversaryroadtrip.jpg" class="responsive" />
      <p>
        2 year anniversary road trip 07/2017
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/meetingfamily.jpg" class="responsive" />
      <p>
        In Albania meeting my awesome in-laws 07/2017
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/albaniantrip.jpg" class="responsive" />
      <p>
        On our way to Albania to meet my wife's parents and brother 07/2017
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/anasmeremacgrad.jpg" class="responsive" />
      <p>
        At my wife's graduation from STLCC Meremac 05/2017
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/fuzzydatenight.jpg" class="responsive" />
      <p>
        Date night at Fuzzy's Taco Shop 02/2017
      </p>
    </div>
  </div>
</div>
