<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/sixflags.jpg" class="responsive" />
      <p>
        Six Flags with my wife, sister and her friend 10/2016
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/friendship.jpg" class="responsive" />
      <p>
        A photo to describe our friendship 07/2016
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/bestfriendswedding.jpg" class="responsive" />
      <p>
        At my brother's wedding. I had the honor of being the best man 07/2016
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/firstyearanniversary.jpg" class="responsive" />
      <p>
        My wife and I's first anniversary 07/2016
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/cousinswedding.jpg" class="responsive" />
      <p>
        My cousin's wedding. Happy to be witness their union 06/2016
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <img src="./assets/imgs/phithetakappa.jpg" class="responsive" />
      <p>
        Wife getting recognition by the Phi Theta Kappa Honors 03/2016
      </p>
    </div>
  </div>
</div>
